# Dependencies
node_modules/
.pnpm-debug.log*

# Build output
dist/
dist-ssr/

# Security & Secrets (CRUCIAAL)
.env
.env.*

# Local Data (optioneel, omdat we fetch gebruiken in CI/CD)
src/data/*.json
!src/data/schema.json

# Systeem & Editor
*.log
.DS_Store
.vscode/
.idea/