@import "tailwindcss";

:root {
  --color-primary: #166534; /* Forest Green */
  --color-secondary: #84cc16; /* Sage */
  --color-background: #fefce8; /* Cream */
  --color-hero-bg: #f0fdf4;
}

body {
  color: #064e3b;
  background-color: var(--color-background);
  font-family: 'Georgia', serif;
}

.section-container {
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 10px 30px -5px rgba(22, 101, 52, 0.05);
}
