@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --color-primary: var(--primary-color);
  --color-accent: var(--accent-color);
  --color-bg-site: var(--bg-site);
  --color-text-main: var(--text-color);
}

:root {
  /* LIGHT MODE VARIABLES */
  --primary-color: var(--primary-color-light, #0f172a);
  --accent-color: var(--accent-color-light, #3b82f6);
  --bg-site: var(--bg-site-light, #ffffff);
  --text-color: var(--text-color-light, #0f172a);
}

.dark {
  /* DARK MODE VARIABLES */
  --primary-color: var(--primary-color-dark, #ffffff);
  --accent-color: var(--accent-color-dark, #60a5fa);
  --bg-site: var(--bg-site-dark, #0f172a);
  --text-color: var(--text-color-dark, #f8fafc);
}

body {
  @apply antialiased transition-colors duration-500;
  background-color: var(--bg-site);
  color: var(--text-color);
}